@font-face {
  font-family: Gilroy-Bold;
  src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
  font-family: Gilroy-Semibold;
  src: url(./font/Gilroy-Semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  margin-bottom: 96px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  gap: 500px;
  padding: 40px 0; /* внутренний отступ, необходимо указывать и второй параметр, если нет необходимости иметь отступы сбоку (типа 40 40 40 40)*/
}

.links {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.navigation__link__orange {
  color: #f25822;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}

.navigation__link {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}

.main {
  margin-bottom: 259px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 197px;
}

.content__left-side {
  max-width: 522px;
}

.content__left-side h1 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 60px;
  font-weight: 400;
  line-height: 70.31px;
  margin-bottom: 17px;
}

.content__left-side p {
  color: #888;
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  margin-bottom: 37px;
}

.content__btn-list {
  display: flex;
  gap: 108px;
}

.btn__start {
  color: #fff;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background: #f25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  /*padding: 15px 16px 35px 36px;*/
  border: none;
  cursor: pointer;
}

.btn__watch {
  color: #aaa;
  font-family: Gilroy-Bold;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  border: none;
  cursor: pointer;
  background: #fff;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cards__list1 {
  display: flex;
  gap: 61px;
  margin-bottom: 100px;
}

.cards {
  padding: 40px 25px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: start; /* выровняла по левому краю и загнала картинки в их исходный размер (из-за флекса, растянулись на всю ширину)*/
}

.cards h2 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}

.cards p {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

.cards h3 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
}

.card__2 {
  background: #fff; /* в целом здесь не нужен */
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.description__all {
  background: #fafafa;
  padding-top: 92px;
  padding-bottom: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
  padding: 92px 54px;
  background: #fafafa;
}

.description h2 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-weight: 400;
  line-height: 52.73px;
}

.description p {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 682px;
  align-items: center;
  margin: 0 auto;
}

.cards__list2 {
  background: #fafafa;
  display: flex;
  gap: 30px;
}

.cards__2 {
  /*padding: 0px 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 22px;
  background: #fff;*/
}

.text {
  padding: 0px 50px 30px 30px;
  display: flex;
  gap: 22px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  /*margin-bottom: 39px; это здесь лишнее!*/
}

.cards__2 h2 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
}

.cards__2 p {
  color: #aaa;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}
.shadow {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.btn__2 {
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  background: rgba(242, 88, 34, 1);
  padding: 15px 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  /*margin-top: 39px;*/
}
